.background {
    -fx-background-color: deepskyblue;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 23pt;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #FFFAFA;
    -fx-control-inner-background: #FFFAFA;
    -fx-background-color: #FFFAFA;
    -fx-table-cell-border-color: #FFFAFA;
    -fx-table-header-border-color: #FFFAFA;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 30pt;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent deepskyblue transparent deepskyblue;
    -fx-background-color: transparent, derive(deepskyblue, 0%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

. menu-button{
    -fx-background-color: derive(deepskyblue, 0%);
}

.context-menu {
    -fx-background-color: derive(deepskyblue, 0%);
}

.menu-button .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}


.text-area {
    -fx-background-color: #FFFAFA;
    -fx-border-width: 0;
    -fx-font-size: 9pt;
    -fx-font-family: "Century Gothic";
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: deepskyblue;
    -fx-font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: deepskyblue;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: deepskyblue;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: deepskyblue;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 0%);
}